@model IEnumerable<OneDollar.Models.CinemaProduct>

@{
    ViewBag.Title = "Gallery";
}

@Styles.Render("~/Custom/css/index")

@foreach(var item in Model)
{
    <div class="cinema-product-wrapper">
        <a src="@Url.Action("Details", new { id = item.ID })" class="cinema-product-link">
            <img src="@item.ImagePath" class="cinema-product-image">
            <h2>@item.Title</h2>
            <p>@item.Description</p>
        </a>
    </div>
}
